@use "variables" as *;

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Roboto-VariableFont_wdth,wght.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-main;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.primary-middle {
  background-color: $primary-bg;
}

.dark {
  background-color: $dark-bg;
}
