@mixin text-center {
  text-align: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin section-padding($top: 100px, $bottom: 100px) {
  padding-block: $top $bottom;
}

@mixin desktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 420px) {
    @content;
  }
}
